<div class="row schedule-day-wrapper">
    <div class="schedule-day-main">
        <div class="schedule-employees-column">
            <div class="employees-search-bar">
                Search bar
            </div>
        </div>
        <div class="schedule-data-column">
            <div class="schedule-grid-header">
                Grid header
            </div>
        </div>
    </div>

    <div class="details">
        <div class="employees-names">
            agent list
        </div>

        <div class="schedule-details">
            <div class="schedule-grid-data">
                Grid data
            </div>
        </div>
    </div>

    <div class="schedule-day-keys">
        <div class="day-key">
            key value 1
        </div>
        <div class="day-key">
            key value 2
        </div>
        <div class="day-key">
            key value 3
        </div>
        <div class="day-key">
            key value 4
        </div>
        <div class="day-key">
            key value 5
        </div>
    </div>
</div>

